In [ ]:
# Frequent Itemsets Mining

In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
df = pd.read_csv('./Book_Fre.csv',index_col='TID')
df.head(6)

     A  B  C  D  E
TID
1    1  1  0  1  1
2    0  1  1  0  1
3    1  1  0  1  1
4    1  1  1  0  1
5    1  1  1  1  1
6    0  1  1  1  0

In [3]:
Frequent_itemset = apriori(df, min_support=0.5, use_colnames = True)
Frequent_itemset

     support      itemsets
0   0.666667           (A)
1   1.000000           (B)
2   0.666667           (C)
3   0.666667           (D)
4   0.833333           (E)
5   0.666667        (A, B)
6   0.500000        (A, D)
7   0.666667        (A, E)
8   0.666667        (C, B)
9   0.666667        (B, D)
10  0.833333        (E, B)
11  0.500000        (C, E)
12  0.500000        (E, D)
13  0.500000     (A, B, D)
14  0.666667     (E, A, B)
15  0.500000     (A, E, D)
16  0.500000     (E, C, B)
17  0.500000     (E, B, D)
18  0.500000  (E, A, B, D)

In [4]:
Frequent_itemset.to_csv('Book_FI.csv')

In [5]:
A_R = association_rules(Frequent_itemset, metric = "lift", min_threshold = 1)
A_R.sort_values('lift',ascending = False)
A_R

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(A),(B),0.666667,1.000000,0.666667,1.000000,1.000,0.000000,inf
1,(B),(A),1.000000,0.666667,0.666667,0.666667,1.000,0.000000,1.000000
2,(A),(D),0.666667,0.666667,0.500000,0.750000,1.125,0.055556,1.333333
3,(D),(A),0.666667,0.666667,0.500000,0.750000,1.125,0.055556,1.333333
4,(A),(E),0.666667,0.833333,0.666667,1.000000,1.200,0.111111,inf
5,(E),(A),0.833333,0.666667,0.666667,0.800000,1.200,0.111111,1.666667
6,(C),(B),0.666667,1.000000,0.666667,1.000000,1.000,0.000000,inf
7,(B),(C),1.000000,0.666667,0.666667,0.666667,1.000,0.000000,1.000000
8,(B),(D),1.000000,0.666667,0.666667,0.666667,1.000,0.000000,1.000000
9,(D),(B),0.666667,1.000000,0.666667,1.000000,1.000,0.000000,inf
10,(E),(B),0.833333,1.000000,0.833333,1.000000,1.000,0.000000,inf
11,(B),(E),1.000000,0.833333,0.833333,0.833333,1.000,0.000000,1.000000
12,"(A, B)",(D),0.666667,0.666667,0.500000,0.750000,1.125,0.055556,1.333333
13,"(A, D)",(B),0.500000,1.000000,0.500000,1.000000,1.000,0.000000,inf
14,"(B, D)",(A),0.666667,0.666667,0.500000,0.750000,1.125,0.055556,1.333333
15,(A),"(B, D)",0.666667,0.666667,0.500000,0.750000,1.125,0.055556,1.333333
16,(B),"(A, D)",1.000000,0.500000,0.500000,0.500000,1.000,0.000000,1.000000
17,(D),"(A, B)",0.666667,0.666667,0.500000,0.750000,1.125,0.055556,1.333333
18,"(A, E)",(B),0.666667,1.000000,0.666667,1.000000,1.000,0.000000,inf
19,"(B, E)",(A),0.833333,0.666667,0.666667,0.800000,1.200,0.111111,1.666667
20,"(A, B)",(E),0.666667,0.833333,0.666667,1.000000,1.200,0.111111,inf
21,(E),"(A, B)",0.833333,0.666667,0.666667,0.800000,1.200,0.111111,1.666667
22,(A),"(B, E)",0.666667,0.833333,0.666667,1.000000,1.200,0.111111,inf
23,(B),"(A, E)",1.000000,0.666667,0.666667,0.666667,1.000,0.000000,1.000000
24,"(A, E)",(D),0.666667,0.666667,0.500000,0.750000,1.125,0.055556,1.333333
25,"(A, D)",(E),0.500000,0.833333,0.500000,1.000000,1.200,0.083333,inf
26,"(E, D)",(A),0.500000,0.666667,0.500000,1.000000,1.500,0.166667,inf
27,(A),"(E, D)",0.666667,0.500000,0.500000,0.750000,1.500,0.166667,2.000000
28,(E),"(A, D)",0.833333,0.500000,0.500000,0.600000,1.200,0.083333,1.250000
29,(D),"(A, E)",0.666667,0.666667,0.500000,0.750000,1.125,0.055556,1.333333
30,"(C, E)",(B),0.500000,1.000000,0.500000,1.000000,1.000,0.000000,inf
31,(B),"(C, E)",1.000000,0.500000,0.500000,0.500000,1.000,0.000000,1.000000
32,"(E, D)",(B),0.500000,1.000000,0.500000,1.000000,1.000,0.000000,inf
33,(B),"(E, D)",1.000000,0.500000,0.500000,0.500000,1.000,0.000000,1.000000
34,"(B, A, E)",(D),0.666667,0.666667,0.500000,0.750000,1.125,0.055556,1.333333
35,"(A, E, D)",(B),0.500000,1.000000,0.500000,1.000000,1.000,0.000000,inf
36,"(B, E, D)",(A),0.500000,0.666667,0.500000,1.000000,1.500,0.166667,inf
37,"(A, B, D)",(E),0.500000,0.833333,0.500000,1.000000,1.200,0.083333,inf
38,"(A, E)","(B, D)",0.666667,0.666667,0.500000,0.750000,1.125,0.055556,1.333333
39,"(B, E)","(A, D)",0.833333,0.500000,0.500000,0.600000,1.200,0.083333,1.250000
40,"(E, D)","(A, B)",0.500000,0.666667,0.500000,1.000000,1.500,0.166667,inf
41,"(A, B)","(E, D)",0.666667,0.500000,0.500000,0.750000,1.500,0.166667,2.000000
42,"(A, D)","(B, E)",0.500000,0.833333,0.500000,1.000000,1.200,0.083333,inf
43,"(B, D)","(A, E)",0.666667,0.666667,0.500000,0.750000,1.125,0.055556,1.333333
44,(E),"(A, B, D)",0.833333,0.500000,0.500000,0.600000,1.200,0.083333,1.250000
45,(A),"(B, E, D)",0.666667,0.500000,0.500000,0.750000,1.500,0.166667,2.000000
46,(B),"(A, E, D)",1.000000,0.500000,0.500000,0.500000,1.000,0.000000,1.000000
47,(D),"(B, A, E)",0.666667,0.666667,0.500000,0.750000,1.125,0.055556,1.333333

In [6]:
A_R.to_csv('Book_AR.csv')

In [7]:
# stock association rules
# TID  2330U 2330D 2317U 2317D
#  1     1     0     1     0

In [10]:
stock = pd.read_csv('./stock2.csv',index_col='TID')
stock.head(6)

     中美晶漲  中美晶跌  台塑漲  台塑跌  南亞漲  南亞跌  鴻海漲  鴻海跌  中華電漲  中華電跌  大立光漲  大立光跌
TID
1       1     0    1    0    0    1    1    0     1     0     1     0
2       1     0    1    0    1    0    0    1     1     0     0     1
3       1     0    1    0    1    0    0    1     1     0     1     0
4       0     1    1    0    0    1    0    1     0     1     1     0
5       1     0    0    1    1    0    0    1     0     1     0     1
6       0     1    0    1    0    1    1    0     0     1     1     0

In [11]:
Frequent_stock = apriori(stock, min_support=0.3, use_colnames = True)
Frequent_stock

     support      itemsets
0   0.500000        (中美晶漲)
1   0.500000        (中美晶跌)
2   0.487805         (台塑漲)
3   0.512195         (台塑跌)
4   0.483740         (南亞漲)
5   0.516260         (南亞跌)
6   0.483740         (鴻海漲)
7   0.516260         (鴻海跌)
8   0.369919        (中華電漲)
9   0.630081        (中華電跌)
10  0.487805        (大立光漲)
11  0.512195        (大立光跌)
12  0.313008  (中美晶漲, 中華電跌)
13  0.317073  (中美晶跌, 中華電跌)
14  0.365854    (南亞漲, 台塑漲)
15  0.394309    (台塑跌, 南亞跌)
16  0.345528   (台塑跌, 中華電跌)
17  0.333333   (南亞跌, 中華電跌)
18  0.394309   (鴻海跌, 中華電跌)
19  0.304878   (鴻海跌, 大立光跌)
20  0.333333  (大立光跌, 中華電跌)

In [12]:
AR_stock = association_rules(Frequent_stock, metric = "lift", min_threshold = 1)
AR_stock.sort_values('lift',ascending = False)
AR_stock

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(中美晶跌),(中華電跌),0.500000,0.630081,0.317073,0.634146,1.006452,0.002033,1.011111
1,(中華電跌),(中美晶跌),0.630081,0.500000,0.317073,0.503226,1.006452,0.002033,1.006494
2,(南亞漲),(台塑漲),0.483740,0.487805,0.365854,0.756303,1.550420,0.129883,2.101766
3,(台塑漲),(南亞漲),0.487805,0.483740,0.365854,0.750000,1.550420,0.129883,2.065041
4,(台塑跌),(南亞跌),0.512195,0.516260,0.394309,0.769841,1.491189,0.129883,2.101766
5,(南亞跌),(台塑跌),0.516260,0.512195,0.394309,0.763780,1.491189,0.129883,2.065041
6,(台塑跌),(中華電跌),0.512195,0.630081,0.345528,0.674603,1.070661,0.022804,1.136823
7,(中華電跌),(台塑跌),0.630081,0.512195,0.345528,0.548387,1.070661,0.022804,1.080139
8,(南亞跌),(中華電跌),0.516260,0.630081,0.333333,0.645669,1.024740,0.008047,1.043993
9,(中華電跌),(南亞跌),0.630081,0.516260,0.333333,0.529032,1.024740,0.008047,1.027119
10,(鴻海跌),(中華電跌),0.516260,0.630081,0.394309,0.763780,1.212192,0.069023,1.565989
11,(中華電跌),(鴻海跌),0.630081,0.516260,0.394309,0.625806,1.212192,0.069023,1.292753
12,(鴻海跌),(大立光跌),0.516260,0.512195,0.304878,0.590551,1.152981,0.040452,1.191370
13,(大立光跌),(鴻海跌),0.512195,0.516260,0.304878,0.595238,1.152981,0.040452,1.195122
14,(大立光跌),(中華電跌),0.512195,0.630081,0.333333,0.650794,1.032873,0.010609,1.059313
15,(中華電跌),(大立光跌),0.630081,0.512195,0.333333,0.529032,1.032873,0.010609,1.035750

In [ ]:
# enjoy